body{
  margin:0;
  padding:0;
}
.container{
  width:100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:80px;
  padding:0px 20px;
  box-sizing: border-box;
}
img{
  width:150px;
  border-radius: 12px;
}
button{
  border: none;
  background-color: transparent;
  margin-right: 10px;
}
a{
  color:white;
  text-decoration: none;
  font-size:16px;
  transition: text-decoration 0.5s;
}
a:hover{
  text-decoration: underline;
}










