body{
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}
.container{
  width:50%;
  max-width:350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 12px;
  padding:40px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #EEAECA;
  background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  transition: box-shadow 0.5s;
}
h1{
  margin:0;
  padding:0;
  text-align: center;
  margin-bottom: 24px;
}
label{
  letter-spacing: 1px;
  font-size:20px;
}
input{
  margin:10px 0px;
  padding:8px;
  border:none;
  border-radius: 5px;
  outline: none;
  box-shadow:inset 0 0 4px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s;
}
.buttons{
  text-align: center;
  margin-top: 30px;
}
button{
  border:none;
  background-color: rgb(68, 68, 138);
  color:white;
  padding:8px 14px;
  border-radius: 5px;
  font-size:14px;
  letter-spacing: 1px;
  cursor:pointer;
  margin-right:6px;
}
.container:hover{
  box-shadow:0 0 8px 4px rgba(0,0,0,0.5);;
}
input:hover{
  box-shadow:0 0 8px 4px rgba(0,0,0,0.5);;
}
button:hover{
  box-shadow:0 0 8px 4px gray;
}
























