.container{
  display: grid;
}
.project{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding:10px;
  transition: background-color 0.5s,color 0.5s;
}
p{
  font-size: 18px;
}
.project:hover{
  background-color: black;
  color:white;
}