body{
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width:70%;
  max-width:450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 12px;
  padding:20px;
  box-sizing: border-box;
  background-image: url(images/leaf-bg.jpeg);
}
h1,p{
  margin:0;
  padding:0;
}
h1{
  margin-top:20px;
  font-size: 70px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.line-1,
.line-2{
  font-size:20px;
  margin-bottom: 10px;
  width:75%;
}
.lists{
  display: flex;
  column-gap: 50px;
  list-style: none;
  margin-bottom: 25px;
  font-size:18px;
}
.location,
.timing,
.booking{
  display: flex;
  margin-bottom: 10px;
}
.query{
  background-color: black;
  color:white;
  padding:6px;
  border-radius: 4px;
  font-size:14px;
}
.answer{
  background-color: rgb(218, 214, 214);
  padding:6px;
  border-radius: 4px;
  font-size:14px;
}
.foot-section{
  margin-top:60px;
  margin-bottom:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{
  width:100px;
  border-radius: 12px;
}
.info{
  font-size:12px;
}































