body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  min-height:100vh;
}
.container{
  width:70%;
  max-width:900px;
  background-color: #ffffff;
  border:1px solid black;
  padding:20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}
p,h1{
  margin:0;
  padding:0;
}
.content{
  display:flex;
  gap:20px;
  align-items: flex-start;
}
img{
  width:40%;
  height:auto;
  border-radius: 10px;
  object-fit: cover;
}
.description{
  flex:1;
}
.description p{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}
h1{
  text-align: center;
  margin-bottom: 10px;;
}
/*For tablets and small laptops*/
@media (max-width: 900px) {
  .container {
    width: 85%;
  }
  img {
    width: 45%;
  }
  .description p {
    font-size: 17px;
  }
}
/*For mobile screens*/
@media (max-width: 600px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 80%;
    max-width: 300px;
  }
  .description {
    text-align: center;
  }
  .description p {
    font-size: 16px;
  }
}