body{
  width:350px;
  height:480px;
  margin:200px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding:30px;

}
.container{
  display: flex;
  flex-direction: column;
}
.operations{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 35px;
  margin-bottom: 30px;
}
.input-box input{
  box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
  margin-top:10px;
  border:1px solid rgb(207, 200, 200);
  border-radius: 10px;
  height:60px;
  font-size:32px;
  width:100%;
  text-align: right;
  /* caret-color: black; */
  margin-bottom:30px;
  background-color: rgba(244, 241, 241, 0.806);
  outline:none;
}
.input-box input::placeholder{
  font-size:32px;
}
.operator button{
  border:none;
  background-color: rgb(249, 249, 16);
  font-size:30px;
  padding:12px 22px;
  border-radius: 10px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.operand button{
  border:none;
  background-color: rgb(72, 234, 217);
  font-size:28px;
  padding:12px 24px;
  border-radius: 10px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.calculate button{
  border:none;
  color:white;
  background-color: orangered;
  font-size:28px;
  padding:12px 21px;
  border-radius: 10px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.equalTo button{
  border:none;
  color:white;
  background-color:rgb(3, 137, 3);
  font-size:28px;
  padding:12px 60px;
  border-radius: 10px;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}