.container{
  display: grid;
}
.project{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:10px;
}
p{
  font-size: 18px;
}
@media(min-width:1000px){
  .container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width:899px){
  .container{
    grid-template-columns: 1fr;
  }
}
@media(min-width:900px) and (max-width:999px){
  .container{
    grid-template-columns: 1fr 1fr;
  }
}
