body{
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width:50%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding:20px;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,p{
  margin:0;
  padding:0;
}
img{
  width:100%;
  border-radius: 12px;
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
  text-align: justify;
}























