body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  /* background-image:url("bg.jpeg");
  background-repeat: no-repeat;
  background-size:cover; */
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  height:60px;
  background-color: rgb(61, 54, 54);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 15px;
}
.left{
  color:white;
  font-size:30px;
  letter-spacing: 2px;
  font-weight:bold;
}
a{
  color:white;
  text-decoration: none;
  font-size:15px;
  letter-spacing: 1px;
  margin-right: 10px;
}
.content{
  width:100%;
  margin:250px auto;
}
.content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin:0;
  padding:0;
}
.line-1,
.line-2{
  margin:0;
  letter-spacing: 3px;
  margin-bottom:15px;
  color:white;
  font-size: 41px;
  font-weight:bolder;
}
#sizing{
  font-size: 38px;
}
.buttons{
  display: flex;
  gap:20px;
  margin-top:15px;
}
.learn-button{
  border:2px solid white;
  font-size:20px;
  padding:10px 18px;
  cursor:pointer;
  background-color: transparent;
  letter-spacing: 0.8px;
  border-radius: 4px;
  transition: box-shadow 0.5s;
}
.learn-button a{
  text-decoration: none;
  color:white;
}
.subscribe-button{
  background-color: white;
  font-size:20px;
  padding:12px 30px;
  border-radius:4px;
  border:none;
  cursor:pointer;
  letter-spacing: 0.8px;
  transition: box-shadow 0.5s;
}
.subscribe-button a{
  text-decoration: none;
  color:black;
}
.learn-button:hover{
  box-shadow: 0 0 9px white;
}
.subscribe-button:hover{
  box-shadow: 0 0 10px 2px white;
}
.right a:hover{
  text-decoration: underline;
}