body{
  font-family: Arial, Helvetica, sans-serif;
}
.outline{
  width:350px;
  height:380px;
  margin:200px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.top-section{
  border-radius:10px 10px 0px 0px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:350px;
  height:125px;
  background-color: rgb(44, 124, 236);
}
.top-section p{
  margin:0;
  margin-top: 10px;
}
.channel-name{
  font-weight: bold;
  font-size:20px;
}
.description{
  font-size:15px;
}
.profile-pic{
  margin-top: 50px;
  width:100px;
  height:100px;
  object-fit: cover;
  border-radius: 50px;
  border:2px solid white;
}
.website{
  margin-top:20px;
  display: flex;
  gap:10px;
}
.support{
  margin-top:10px;
  display: flex;
  gap:20px;
}
.support p{
  font-size:14px;
}
.facebook-icon,
.twitter-icon,
.instagram-icon,
.youtube-icon{
  height:25px;
  width:25px;
  border-radius:50px;
  object-fit: cover;
}
.buttons{
  padding-top:27px;
}
.subscribe-button,
.message-button{
  border:none;
  background-color: rgb(44, 124, 236);
  color:white;
  padding:7px 14px;
  margin-right:14px;
  border-radius: 50px;
}
.like-img,
.comment-img,
.share-img{
  height:30px;
}